<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ps_site</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>/assets/ps_logo2.png">
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ps_site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
