.box {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1000px) {
	.hide-on-desktop {
		display: none !important;
	}
}
@media screen and (min-width: 650px) {
	.hide-on-tablet-and-larger {
		display: none !important;
	}
}
@media screen and (max-width: 1000px) {
	.hide-on-tablet-and-smaller {
		display: none !important;
	}
}
@media screen and (max-width: 650px) {
	.hide-on-mobile {
		display: none !important;
	}
}